<nav>
    <a href="/" class="brand">
      <img src="~/img/favicon.ico" />
      <h1>Home</h1>
    </a>

    <ul>
      <li>
        <a asp-controller="Stylist" asp-action="Index">Stylists</a>
      </li>
      <li>
        <a asp-controller="Client" asp-action="Index">Clients</a>
      </li>
    </ul>

    <ul class="pull-right">
      <li>
        <a 
          href="https://github.com/AlyxMoon/epicodus-project11-clair-salon"
          target="_blank">
          Github Repo
        </a>
      </li>
    </ul>
  </nav>